labs/unicorn-store-basic/HELP.md
target/
!labs/unicorn-store/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.DS_Store
./aws-sam
samconfig.toml
node_modules
unicorn-store-spring-native

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### Other

labs/unicorn-store/infrastructure/cdk/output*
dependency-reduced-pom.xml

