name: Continuous integration

on:
  push:
  pull_request:

  workflow_dispatch:

jobs:
  cfn-nag:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: stelligent/cfn_nag@master
      with:
        input_path: labs/unicorn-location-api/template.yaml
    - uses: stelligent/cfn_nag@master
      with:
        input_path: labs/unicorn-location-api/final/unicorn-location-api-final/template.yaml
    - uses: stelligent/cfn_nag@master
      with:
        input_path: labs/unicorn-stock-broker/template.yaml

  build-unicorn-store:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: 17
          cache: maven
      - name: mvn db-setup
        run: ./mvnw package -f infrastructure/db-setup/pom.xml
        working-directory: ./labs/unicorn-store
      - name: mvn cdk
        run: ./mvnw package -f infrastructure/cdk/pom.xml
        working-directory: ./labs/unicorn-store
      - name: mvn unicorn-store-spring
        run: ./mvnw package -f software/unicorn-store-spring/pom.xml
        working-directory: ./labs/unicorn-store
      - name: mvn unicorn-store-spring-graalvm
        run: ./mvnw package -f software/alternatives/unicorn-store-spring-graalvm/pom.xml
        working-directory: ./labs/unicorn-store
      - name: mvn unicorn-store-micronaut
        run: ./mvnw package -f software/alternatives/unicorn-store-micronaut/pom.xml
        working-directory: ./labs/unicorn-store
      - name: mvn unicorn-store-quarkus
        run: ./mvnw package -f software/alternatives/unicorn-store-quarkus/pom.xml
        working-directory: ./labs/unicorn-store
      - name: install cdk
        run: npm install -g aws-cdk
      - name: synth
        run: cdk synth
        working-directory: ./labs/unicorn-store/infrastructure/cdk

  build-unicorn-location-api:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'corretto'
        java-version: 17
        cache: maven
    - name: mvn initial
      run: mvn package
      working-directory: ./labs/unicorn-location-api/UnicornLocationFunction
    - name: mvn final
      run: mvn package
      working-directory: ./labs/unicorn-location-api/final/unicorn-location-api-final/UnicornLocationFunction

  build-unicorn-stock-broker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: 17
          cache: maven
      - name: mvn build
        run: mvn package
        working-directory: ./labs/unicorn-stock-broker